.wrapper {
  margin-left: 12px;
  margin-right: 12px;
  height: 224px;
  overflow: auto;
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-top: 12px;
}
.taskArea {
  border: 1px solid #e5e7eb;
  font-size: 14px;
  padding: 5px 10px;
  border-radius: 0.75rem;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  display: flex;
  gap: 0.5rem;
  justify-content: space-between;
}
.completed {
  opacity: 0.5;
  text-decoration: line-through;
  color: #ccc;
}
.dropDown {
  display: flex;
  cursor: pointer;
  align-items: center;
}
